{% extends 'layout.html' %}
{% block content %}
    {% set album = (album_songs.items()|list)[0] %}
    <div id="album" class="row">
        <img class="col-3 bg-img" src="/song/{{ album[0] }}/image">
        <div class="col-9 d-flex flex-column justify-content-center">
            <h1>{{ album[1].album }}</h1>
            <h2>{{ album[1].albumartist }}</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="playlist_dropdown_link"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Add All to Playlist
                </button>
                <ul class="dropdown-menu" aria-labelledby="playlist_dropdown_link">
                    <div class="playlists">
                        {% for playlist in playlists %}
                            <li><a class="dropdown-item" role="button" data-id="{{ playlist[0] }}"
                                   onclick="playlists.add({{ playlist[0] }}, get_all(), true)">{{ playlist[1] or "Playlist" }}</a>
                            </li>
                        {% endfor %}
                    </div>
                    {% if playlists and playlists[0][0] is not none %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    {% endif %}
                    <li><a class="dropdown-item" role="button" onclick="playlists.new()">Create New</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>

        {% for id, song in album_songs.items() %}
            <tr role="button" data-id="{{ id }}" onclick="queue.add_all({{ id }})"
                oncontextmenu="menus.open(event, 'song', {{ id }})"
                title="{{ ((song.filesize/1048576)|round(1)|string + "MB") if song.filesize }}, {{ ((song.samplerate/1000)|string + "KHz") if song.samplerate }}, {{ (song.bitrate|round(1)|string + "kbps") if song.bitrate }}">
                <th scope="row" class="w-play">{{ song.track or '' }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.album or '' }}</td>
                <td>{{ song.artist or '' }}</td>
                <td>{{ song.year or '' }}</td>
                <td>{{ song.duration | format_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}