{% extends 'layout.html' %}
{% block content %}
    <div id="cards" class="row d-flex justify-content-around">
        {% for id, song in artists.items() %}
            <div class="card bg-secondary col-2 m-1 p-0 hover bg-img" role="button"
                 data-page="/artists/{{ id }}" data-id="{{ id }}"
                 data-name="{{ song.artist }}" data-genre="{{ song.genre }}">
                <img class="card-img my-auto" src="/image/{{ song.image }}" alt="Card image" loading="lazy">
                <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                    <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.artist }}</span>
{#                    <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100"></span>#}
                    <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle bi bi-play-circle-fill text-primary"></span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}