{% extends 'layout.html' %}
{% block content %}
    <h1 class="mb-0">{{ (albums.values()|list)[0].artist }}</h1>
    <a class="d-inline-block mb-1" href="https://en.wikipedia.org/wiki/Special:Search?search={{ (albums.values()|list)[0].artist | urlencode }}&go=Go"
       target="_blank">Search Wikipedia</a>
    <h5>Albums</h5>
    <div class="row d-flex justify-content-around">
        {% for id, song in albums.items() %}
            <div class="card bg-secondary col-2 m-1 p-0 hover bg-img" role="button"
                 oncontextmenu="menus.open(event, 'album', {{ id }})"
                 data-page="/albums/{{ id }}" data-id="{{ id }}">
                <img class="card-img my-auto" src="/image/{{ song.image }}" alt="Card image" loading="lazy">
                <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                    <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.album }}</span>
                    {% if song.year %}
                        <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100">{{ song.year }}</span>
                    {% endif %}
                    <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle bi bi-play-circle-fill text-primary"></span>
                </div>
            </div>
        {% endfor %}
    </div>
    <h5>Songs</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
            <th class="d-none d-sm-table-cell" scope="col">Date</th>
            <th class="d-none d-sm-table-cell" scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>

        {% for id, song in artist.items() %}
            <tr role="button" data-id="{{ id }}" onclick="queue.add_all({{ id }})"
                oncontextmenu="menus.open(event, 'song', {{ id }})"
                title="{{ song.file.rpartition('.')[2] | upper }}, {{ (((song.filesize/1048576)|round(1)|string + "MB, ") if song.filesize else "") + (((song.samplerate/1000)|string + "KHz, ") if song.samplerate else "") + ((song.bitrate|round(1)|string + "kbps") if song.bitrate else "") }}">
                <th scope="row" class="w-play">{{ song.track  or '' }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.album  or '' }}</td>
                <td>{{ song.artist  or '' }}</td>
                <td class="d-none d-sm-table-cell">{{ song.year  or '' }}</td>
                <td class="d-none d-sm-table-cell">{{ song.duration | format_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}