{% extends 'layout.html' %}
{% block content %}
    {% if songs %}
        {% set rand_genre = (songs.values()|list|random).genre %}
        <h1>{{ (['Welcome', 'Hello', 'Hi', ['Happy ', 'Are You ']|random + rand_genre + 'ing, '] if rand_genre else ['Welcome', 'Hello', 'Hi']) | random }}
            {{ current_user.firstName or current_user.username }}{{ ['!', '.', ',', ''] | random }}</h1>
        <hr>
        <h2>Your Top Songs</h2>
        <div class="row d-flex justify-content-around">
            {% for id, song in top_songs.items() %}
                <div class="card bg-secondary col-2 m-1 p-0 hover bg-img {{ "d-none d-lg-flex" if loop.index > 8 else ("d-none d-md-flex" if loop.index > 6 else "d-flex") }}"
                     role="button" onclick="player.start({{ id }})" oncontextmenu="open_menu(event, {{ id }})"
                     data-id="{{ id }}">
                    <img class="card-img my-auto" src="/song/{{ id }}?image=true" alt="Card image" loading="lazy">
                    <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                        <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.title }}</span>
                        <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100">{{ song.album }}</span>
                        <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle">&#x25B6;</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2>Last Listened</h2>
        <div class="row d-flex justify-content-around">
            {% for id, song in last_songs.items() %}
                <div class="card bg-secondary col-2 m-1 p-0 hover bg-img {{ "d-none d-lg-flex" if loop.index > 8 else ("d-none d-md-flex" if loop.index > 6 else "d-flex") }}"
                     role="button"
                     onclick="player.start({{ id }})" oncontextmenu="open_menu(event, {{ id }})" data-id="{{ id }}">
                    <img class="card-img my-auto" src="/song/{{ id }}?image=true" alt="Card image" loading="lazy">
                    <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                        <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.title }}</span>
                        <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100">{{ song.album }}</span>
                        <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle">&#x25B6;</span>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}

        <h1>{{ ['Welcome', 'Hello', 'Hi'] | random }}
            {{ current_user.firstName or current_user.username.capitalize() }}{{ ['!', '.', ',', ''] | random }}</h1>
        <h2>Listen to some songs and they will appear here!</h2>
        <a class="btn btn-primary" data-page="/albums">View Songs by Album</a>
        <a class="btn btn-primary" data-page="/artists">View Songs by Artists</a>
    {% endif %}
{% endblock %}