{% extends 'layout.html' %}
{% block content %}
    {% if songs %}
        {% set rand_genre = (songs.values()|list|random).genre %}
        <h1>{{ (['Welcome', 'Hello', 'Hi', ['Happy ', 'Are You ']|random + rand_genre + 'ing, '] if rand_genre else ['Welcome', 'Hello', 'Hi']) | random }}
            {{ current_user.name or current_user.username }}{{ ['!', '.', ',', ''] | random }}</h1>
        <hr>
        <h2>Your Top Songs</h2>
        <div class="row d-flex justify-content-around">
            {% for id, song in top_songs.items() %}
                <div class="card bg-secondary col-2 m-1 p-0 hover bg-img {{ "d-none d-xl-flex" if loop.index > 8 else ("d-none d-lg-flex" if loop.index > 6 else "d-flex") }}"
                     role="button" onclick="player.start({{ id }})" oncontextmenu="menus.open(event, 'song', {{ id }})"
                     data-id="{{ id }}">
                    <img class="card-img my-auto" src="/image/{{ song.image }}" alt="Card image" loading="lazy">
                    <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                        <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.title }}</span>
                        <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100">{{ song.album }}</span>
                        <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle bi bi-play-circle-fill text-primary"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <h2>Last Listened</h2>
        <div class="row d-flex justify-content-around">
            {% for id, song in last_songs.items() %}
                <div class="card bg-secondary col-2 m-1 p-0 hover bg-img {{ "d-none d-xl-flex" if loop.index > 8 else ("d-none d-lg-flex" if loop.index > 6 else "d-flex") }}"
                     role="button"
                     onclick="player.start({{ id }})" oncontextmenu="menus.open(event, 'song', {{ id }})" data-id="{{ id }}">
                    <img class="card-img my-auto" src="/image/{{ song.image }}" alt="Card image" loading="lazy">
                    <div class="card-img-overlay text-center p-0 d-flex align-content-between flex-column">
                        <span class="text-light fw-bold position-absolute top-0 bg-dark bg-opacity-50 w-100">{{ song.title }}</span>
                        <span class="text-light small position-absolute bottom-0 bg-dark bg-opacity-50 w-100">{{ song.album }}</span>
                        <span class="display-2 show-hover position-absolute top-50 start-50 translate-middle bi bi-play-circle-fill text-primary"></span>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}

        <h1>{{ ['Welcome', 'Hello', 'Hi'] | random }}
            {{ current_user.name or current_user.username.capitalize() }}{{ ['!', '.', ',', ''] | random }}</h1>
        <h2>Listen to some songs and they will appear here!</h2>
        <button class="btn btn-primary" data-page="/albums">View Songs by Album</button>
        <button class="btn btn-primary" data-page="/artists">View Songs by Artists</button>
    {% endif %}

    {% if playlists and playlists[0][0] is not none %}
        <hr>
        <h2>Playlists</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Tracks</th>
                <th scope="col">Duration</th>
            </tr>
            </thead>
            <tbody>

            {% for playlist in playlists %}
                <tr role="button" data-id="{{ playlist[0] }}" onclick="page('/playlists/{{ playlist[0] }}')">
                    <th scope="row" class="w-play"></th>
                    <td>{{ playlist[1] or "Playlist" }}</td>
                    <td>{{ playlist[2] }}</td>
                    <td>{{ (playlist[3] or 0) | format_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}