{% extends 'html.html' %}
{% block layout %}
    {% include 'navbar.html' %}
    <div class="sticky-top float-start opacity-0" id="loading">
        <div class="spinner-border m-1" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <main class="container mt-sm-3 mt-lg-4 mb-container" id="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    {% include 'player.html' %}

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="user" method="post" action="/user?next={{ request.full_path }}">
                        {% for category, message in get_flashed_messages(with_categories=true) %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {{ form.csrf_token }}
                        <div class="mb-3 row">
                            {{ form.firstName.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.firstName(class_="form-control form-control-user" +
                                            (" is-invalid" if form.firstName.errors or get_flashed_messages() else "")) }}
                            </div>
                            {% if form.firstName.errors %}
                                <div class="invalid-feedback">
                                    {{ form.firstName.errors[0] }}
                                </div>
                            {% endif %}</div>

                        <div class="mb-3 row">
                            {{ form.lastName.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.lastName(class_="form-control form-control-user" +
                                            (" is-invalid" if form.lastName.errors or get_flashed_messages() else "")) }}
                            </div>
                            {% if form.lastName.errors %}
                                <div class="invalid-feedback">
                                    {{ form.lastName.errors[0] }}
                                </div>
                            {% endif %}</div>

                        <div class="mb-3 row">
                            {{ form.theme.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.theme(class_="form-control form-control-user" +
                                            (" is-invalid" if form.theme.errors or get_flashed_messages() else "")) }}
                            </div>
                            {% if form.theme.errors %}
                                <div class="invalid-feedback">
                                    {{ form.theme.errors[0] }}
                                </div>
                            {% endif %}</div>

                        <div class="mb-3 row">
                            {{ form.password.label(class_="col-sm-3 col-form-label") }}
                            <div class="col-sm-9">
                                {{ form.password(class_="form-control form-control-user" +
                                            (" is-invalid" if form.password.errors or get_flashed_messages() else "")) }}
                            </div>
                            {% if form.password.errors %}
                                <div class="invalid-feedback">
                                    {{ form.password.errors[0] }}
                                </div>
                            {% endif %}</div>
                        {{ form.submit(class_="btn btn-primary d-block w-100") }}
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary d-block w-100" href="/logout?next={{ request.full_path }}">Log out</a>
                    <p class="text-center w-100">&copy; Copyright Stephen Horvath 2022</p>
                </div>
            </div>
        </div>
    </div>

    {% if songs is defined %}
        <script id="songs" type="application/json">{{ songs|tojson|safe }}</script>
    {% endif %}
    {% if queue is defined %}
        <script id="user_queue" type="application/json">{{ queue|tojson|safe }}</script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/queue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>

{% endblock %}