{% extends 'layout.html' %}
{% block content %}
    <div id="playlist" class="row" data-id="{{ playlist.id }}">
        <input placeholder="Playlist Name" title="Edit Playlist Name" class="h1 border-0 bg-transparent text-white"
                  value="{{ playlist.name }}" onchange="playlists.rename({{ playlist.id }}, this.value)">
    </div>
    <div class="">
        <button class="btn btn-primary" onclick="queue.add(get_all())">Play All</button>
        <button class="btn btn-secondary" onclick="playlists.delete({{ playlist.id }});page('/')">Delete</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>

        {% for item in playlist_list %}
            {% set id = item[0] %}
            {% set song = playlist_songs[id] %}
            <tr role="button" data-id="{{ id }}"
                onclick="queue.add_all({{ id }})" oncontextmenu="menus.open(event, 'playlist', {{ id }})"
                draggable="true" ondragstart="drag.start(event)" ondragover="drag.over(event)" ondragend="drag.update_playlist(event, {{ playlist.id }})"
                title="{{ song.file.rpartition('.')[2] | upper }}, {{ (((song.filesize/1048576)|round(1)|string + "MB, ") if song.filesize else "") + (((song.samplerate/1000)|string + "KHz, ") if song.samplerate else "") + ((song.bitrate|round(1)|string + "kbps") if song.bitrate else "") }}">
                <th scope="row" class="w-play">{{ song.track or '' }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.album or '' }}</td>
                <td>{{ song.artist or '' }}</td>
                <td>{{ song.year or '' }}</td>
                <td>{{ song.duration | format_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}