<div class="navbar fixed-bottom navbar-expand-lg navbar-dark text-light bg-dark user-select-none" id="player">
    <div class="container-fluid d-flex flex-column">
        <div class="d-flex justify-content-center col-12 col-lg-7">
            <label class="col-3 col-md-2 col-xl-1 text-end me-4" id="current_time" for="slider">0:00</label>
            <div class="col-6 col-md-8 col-xl-10">
                <input id="slider" type="range" class="form-range" min="0" max="0" value="0" step="0.0001">
            </div>
            <span class="text-start ms-4 col-3 col-md-2 col-xl-1" id="max_time">0:00</span>
        </div>
        <div class="row col-12 col-lg-6">
            <div class="col-4">
                <div class="d-none d-sm-flex align-items-center invisible" id="info">
                    <img id="image" class="bg-img" src="" alt="Album Cover">
                    <div class="d-flex flex-column ms-1">
                        <span id="title"></span>
                        <span id="artist" class="small text-muted"></span>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <button id="shuffle" aria-label="Play" class="btn btn-primary btn-player bi bi-shuffle off"></button>
                <button id="back" aria-label="Play" class="btn btn-primary btn-player bi bi-skip-start-fill"></button>
                <button id="play" aria-label="Play" class="btn btn-primary btn-player bi bi-play-fill"></button>
                <button id="forward" aria-label="Play" class="btn btn-primary btn-player bi bi-skip-end-fill"></button>
                <button id="loop" aria-label="Play"
                        class="btn btn-primary btn-player bi bi-arrow-repeat position-relative off">
                    <span class="position-absolute translate-middle badge rounded-pill bg-secondary">1</span>
                </button>
            </div>
            <div class="col-4 d-none d-sm-flex align-items-center">
                <span role="button" id="queue" class="btn-player bi bi-music-note-list"></span>
                <label id="mute" for="volume" aria-label="Volume" class="btn-player bi bi-volume-up-fill"></label>
                <input id="volume" type="range" class="form-range" min="0" max="1" value="1" step="0.01" title="100%">
            </div>
        </div>
    </div>
</div>
{% if disable is undefined %}
    <div class="d-none">
        <div class="dropend" id="playlist_dropend">
            <a class="dropdown-item dropdown-toggle" href="#" role="button" id="playlist_menu_link"
               data-bs-toggle="dropdown" aria-expanded="false">
                Add to Playlist
            </a>

            <ul class="dropdown-menu" aria-labelledby="playlist_menu_link">
                <div class="playlists">
                    {% for playlist in playlists %}
                        <li><a class="dropdown-item" role="button" data-id="{{ playlist[0] }}"
                               onclick="playlists.add({{ playlist[0] }}, menus.selected)">{{ playlist[1] or "Playlist" }}</a>
                        </li>
                    {% endfor %}
                </div>
                {% if playlists and playlists[0][0] is not none %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}
                <li><a class="dropdown-item" role="button" onclick="playlists.new()">Create New</a></li>
            </ul>
        </div>
    </div>

    <div id="toast" class="toast fixed-bottom start-50 translate-middle-x" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <noscript>
        <div class="toast fixed-bottom start-50 translate-middle-x show" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">Error: Javascript is required</div>
            </div>
        </div>
    </noscript>
{% endif %}
