{% extends 'layout.html' %}
{% block content %}
    <h1>Search: {{ query }}</h1>
    <h5>Songs</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#&emsp;</th>
            {# &emsp; is used for an em width space to stop the play button jiggling #}
            <th scope="col">Title</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
        </tr>
        </thead>
        <tbody>

        {% for id, song in results.items() %}
            <tr role="button" data-id="{{ id }}" onclick="queue.add_all({{ id }})" oncontextmenu="menus.open(event, 'song', {{ id }})"
                title="{{ (song.filesize/1048576)|round(1) }}MB, {{ song.samplerate/1000 }}KHz, {{ song.bitrate|round(1) }}kbps">
                <th scope="row">{{ song.track }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.album }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.year }}</td>
                <td>{{ song.duration | format_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}